grant {
  // Per https://docs.cloud.oracle.com/en-us/iaas/Content/API/SDKDocs/javasdkconfig.htm
  // TODO: get these fixed in oci sdk
  // Required by Jersey
  permission java.lang.RuntimePermission "getClassLoader";
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
  permission java.lang.RuntimePermission "accessDeclaredMembers";
  permission java.util.PropertyPermission "*", "read,write";
  permission java.lang.RuntimePermission "setFactory";

  // Required by the SDK to overwrite reserved headers
  permission java.util.PropertyPermission "sun.net.http.allowRestrictedHeaders", "write";

  // Required by the SDK to open socket connections
  permission java.net.SocketPermission "*", "connect";

  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";

  // only for tests
  permission java.net.SocketPermission "*", "accept,resolve,listen";
  permission java.util.PropertyPermission "opensearch.allow_insecure_settings", "read,write";
  permission java.lang.RuntimePermission "*";
};

